@use '@styles/variables' as *;

.container {
  margin: 0 auto;
  position: relative;
  min-height: 752px;
  width: 1440px;
}

.content {
  padding-top: 120px;
  max-width: 638px;
  padding-left: 160px;
  font-family: $fontFamily;
  color: $titleFontColor;
}

.title {
  margin: 0px;
  color: $titleFontColor;
  font-weight: $fontWeightBold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.description {
  padding: 32px 0;
  margin: 0px;
  max-width: 544px;
  font-weight: $fontWeightMedium;
  font-size: 16px;
  line-height: 24px;
}

.image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
